<%- include partials/_head %>

  <body>
    <div class="container">
      <header>
        <%- include partials/_nav %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1 class="main-heading">CHECKOUT</h1>
          </div>
        </div>
      </header>

      <section class="checkout-container">

        <div class="container">
          <div class="col-sm-10 col-sm-offset-1">

            <div class="row text-center row-headings">
              <div class="col-sm-2"></div>
              <div class="col-sm-3"></div>
              <div class="col-sm-3"><p>QTY</p></div>
              <div class="col-sm-2"><p>PRICE</p></div>
              <div class="col-sm-2"></div>
            </div>


            <div class="row text-center row-price">
              <div class="col-sm-2"></div>
              <div class="col-sm-3"></div>
              <div class="col-sm-3"><p><strong>TOTAL</strong></p></div>
              <div class="col-sm-2"><p class="total-price">$19.45</p></div>
              <div class="col-sm-2"></div>
            </div>


          </div>
        </div>
      </section>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="col-sm-6">
            <button class="btn checkout" id="pay-in-person">Pay in person</button>
          </div>
          <div class="col-sm-6">
            <button class="btn checkout" id="pay-online">Pay online</button>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
