<%- include partials/_head %>

  <body>
    <div class="container">
      <header>
        <%- include partials/_nav %>
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2 text-center">
            <h1 class="main-heading">CHECKOUT</h1>
          </div>
        </div>
      </header>

      <section class="checkout-container">
        <div class="row">
          <div class="col-sm-10 col-sm-offset-1">
            <table class="table no-border vert-align">
              <tr>
                <th></th>
                <th><p>QTY</p></th>
                <th><p>PRICE</p></th>
                <th></th>
              </tr>


              <tr>
                <td></td>
                <td></td>
                <td><p><strong>TOTAL</strong></p></td>
                <td><p class="total-price">$19.45<p></td>
                <td></td>
              </tr>
            </table>
          </div>
        </div>
      </section>

      <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
          <div class="col-sm-6">
            <button class="btn checkout" id="pay-in-person">Pay in person</button>
          </div>
          <div class="col-sm-6">
            <button class="btn checkout" id="pay-online">Pay online</button>
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
