<%- include partials/_head %>
<!-- <%- include partials/_nav %> -->

  <body>
    <header class="vertical-align">

      <div class="container">

        <div class="row vertical-align">
          <div class="col-sm-4">
            <img class="header-icons fork" src="/img/fork.svg" alt="fork">
          </div>
          <div class="col-sm-4">
            <img class="plate" src="/img/image-1b.png" alt="menu-item-1">
          </div>
          <div class="col-sm-4">
            <img class="header-icons knife" src="/img/knife.svg" alt="knife">
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 text-center">
            <h1>carbone</h1>
          </div>
        </div>

      </div>

    </header>




    <div class="container">
      <section class="menu-container">
      </section>
    </div>

    <footer class="navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-2">
              <p>Total</p>
              <h4>$</h4>
            </div>
            <div class="col-sm-4 col-sm-offset-6">
              <form>
                <button id="checkout-btn">
                  Proceed to checkout <i class="fa fa-caret-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script>
      $(document).ready(function() {
        $(window).scroll(function() {
          if ($(this).scrollTop() < 150) {
            $("footer").slideUp();
          } else {
            $("footer").slideDown();
          }
        });

        // $(window).scroll(function() {
        //   if ($(this).scrollTop() < 200) {
        //     $("img.knife").animate({ "margin-left": "+=100px" }, "slow");
        //   }
        //
        //   if ($(this).scrollTop() < 200) {
        //     $("img.fork").animate({ "margin-right": "+=100px" }, "slow");
        //   } else {
        //     $("img.fork").animate({ "margin-right": "-=100px" }, "slow");
        //   }
        // });

        $fork = $('img.fork');
        var scrollState = 'top';

        $(window).scroll(function(){

            var scrollPos = $(window).scrollTop();

            if( ( scrollPos != 0 ) && ( scrollState === 'top' ) ) {
                $fork.stop().animate({'margin-right': '+=400px'}, 300);
                scrollState = 'scrolled';
            }
            else if( ( scrollPos === 0 ) && ( scrollState === 'scrolled' ) ) {
                $fork.stop().animate({'margin-right': '-=200px'}, 300);
                scrollState = 'top';
            }

        });

      });
    </script>

  </body>
</html>
