<%- include partials/_head %>

  <body>
    <header>
      <%- include partials/_nav %>
      <div class="vertical-align">

        <div class="container">

          <div class="row vertical-align">
            <div class="col-sm-4">
              <img class="header-icons fork" src="/img/fork.svg" alt="fork">
            </div>
            <div class="col-sm-4">
              <img class="plate" src="/img/image-1b.png" alt="menu-item-1">
            </div>
            <div class="col-sm-4">
              <img class="header-icons knife" src="/img/knife.svg" alt="knife">
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12 text-center">
              <h1>carbone</h1>
            </div>
          </div>

        </div>
      </div>
    </header>

    <div class="container">
      <section class="menu-container">
      </section>
    </div>

    <footer class="navbar-fixed-bottom">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="col-sm-2">
              <p>Total</p>
              <h4>$</h4>
            </div>
            <div class="col-sm-4 col-sm-offset-6">
              <form>
                <button id="checkout-btn">
                  Proceed to checkout <i class="fa fa-caret-right" aria-hidden="true"></i>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </footer>

    <script>
      $(document).ready(function() {

        // make footer appear on scroll
        $(window).scroll(function() {
          if ($(this).scrollTop() < 350) {
            $("footer").slideUp();
          } else {
            $("footer").slideDown();
          }
        });

        // animate icons on scroll
        $fork = $('img.fork');
        $knife = $('img.knife');
        var scrollState = 'top';

        $(window).scroll(function(){
          var scrollPosition = $(window).scrollTop();

          if( ( scrollPosition != 0 ) && ( scrollState === 'top' ) ) {
            $fork.stop().animate({'margin-right': '+=500px'}, 300);
            $knife.stop().animate({'margin-left': '+=500px'}, 300);
            scrollState = 'scrolled';
          }
          else if( ( scrollPosition === 0 ) && ( scrollState === 'scrolled' ) ) {
            $fork.stop().animate({'margin-right': '-=500px'}, 300);
            $knife.stop().animate({'margin-left': '-=500px'}, 300);

            scrollState = 'top';
          }
        });
      });

    </script>
    <script type="text/javascript" src="/scripts/index.js"></script>
  </body>
</html>
