<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/login.js"></script>
  </head>

  <body>
    <h1>Login!</h1>
    <form class="form-inline" action="/login" method="POST">
      <label for="username">Enter your username:</label>
      <input id="username" type="text" name="username" style="width: 300px">
      <label for="password">Enter your password:</label>
      <input id="password" type="text" name="password" style="width: 300px">
      <input type="submit" value="Log in">
    </form>
  </body>
</html>
