<%- include partials/_head %>
  <body>
  
    <div class="container">
      <section class="login-container">
       
        <div class="container">
          <div class="col-sm-6">
            <div class="col-sm-8 col-sm-offset-6">
            <h1 class="login">Login</h1>
              <form class="login" action="/login" method="POST">
                <input class="form-control" id="username" type="text" name="username" placeholder="Enter your username...">
                <input class="form-control" id="password" type="password" name="password" placeholder="Enter your password...">
                <input id="login-btn" type="submit" value="Log in">
              </form>
            </div>
          </div>
        </div>

      </section>
    </div>
  <script type="text/javascript" src="/scripts/login.js"></script>
  </body>
</html>
