<%- include partials/_head %>

  <body>
    <header class="main">
      <%- include partials/_nav %>
      <div class="vertical-align">
        <div class="container">
          <div class="row vertical-align">
            <div class="col-sm-12 text-center">
              <h1>thank you for ordering</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container">

      <section class="orders-container">
        <div class="row">
        </div>
      </section>
    </div>
    <script type="text/javascript" src="/scripts/orders.js"></script>
  </body>
</html>
