header{
  width: 100vw;
  height: 100vh;
  margin: 0vh auto;
  background-color:#292929;
  border:8px solid white;

  img.header-icons{
    width: 10vw;
    height: 10vh;
    margin: 45vh auto;
  }

  img.fork{
    float:right;
  }

  img.knife{
    float:left;
  }

  img.plate{
    width:100%;
  }
}

section.menu-container{
  margin-top:5rem;
  padding-bottom:10rem;

  >.row{
    padding-top:4rem;
  }
}

section.menu-category-container{

  h4{
    text-transform:uppercase;
    margin-bottom:2rem;
  }
}

article.menu-item {
  padding:0.1rem;

  img {
    width:100%;
  }

  form.quantity-form {
    // opacity:0;
    display:none;
    padding:1rem 0 1rem 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    top:14.8rem;

    &:hover{
      opacity:1;
    }

    input.number-input{
      width:3.5rem;
      text-align:center;
      background-color:white;
      border:none;
      border-radius:0;
      color:black;
    }

    button{
      border:none;
      background-color:transparent;

      &:hover{
        color:$color-accent;
      }
    }
  }

  .menu-item-details{
    margin-top:2rem;

    p.menu-item-name{
      font-family:$font-accent;
      font-weight:700;
    }
    p.menu-item-desc{
      font-weight:300;
      opacity:0.4;
    }
    p.menu-item-price{
      float:right;
      font-size:1.3rem;
      font-weight:500;
      color:$color-accent;
    }
  }
}

footer {
  background-color:$color-bg;
  padding:1.8rem;
  box-shadow: 3px 3px 7px 3px #ccc;


  // for footer animation
  position:fixed;
  left:0px;
  bottom:0px;
  height:inherit;
  width:100%;
  display: none;
  z-index: 2;


  p{
    text-transform:uppercase;
    font-weight:500;
    opacity:0.4;
    font-size:80%;
    font-family:$font-accent;
  }
  h4{
    margin-top:-0.7rem;
  }

  button{
    display:inline-block;
    border-radius:0;
    padding:1.4rem 2rem 1.4rem 2rem;
    text-transform:uppercase;
    border:none;
    background-color:$color-accent;
    color:white;
    font-weight:500;
    font-size:85%;
    float:right;
    letter-spacing:0.15rem;

    &:hover{
      background-color: black;
      color:white;
    }
  }
}
