nav{
  padding: 2rem 0 2rem 0;

  input{
    border-radius:0;
    border:none;
    text-transform:uppercase;
    background-color:black;
    letter-spacing:0.1rem;
    font-weight:500;
    padding:1rem 1rem 1rem 1rem;
    color:white;
    float:right;
    font-size:0.8rem;
  }
}
