nav{
  // position:absolute;
  padding:1rem;

  input{
    border-radius:0;
    border:none;
    text-transform:uppercase;
    background-color:white;
    letter-spacing:0.1rem;
    font-weight:500;
    padding:1rem 1rem 1rem 1rem;
    color:$color-accent;
    float:right;
    font-size:0.8rem;
  }
}
