html {
  font-size:12px;
}

body {
  background-color: #fff ;
  font-family: 'Roboto', sans-serif;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

header {
  h1.main-heading {
    font-size:8rem;
    margin-top:8rem;
  }
}

section.menu-container{
  margin-top:5rem;

  >.row{
    padding-top:4rem;
  }
}

section.menu-category-container{
  h4{
    text-transform:uppercase;
    margin-bottom:2rem;
  }
}

article.menu-item {
  padding:0.1rem;


  img {
    width:100%;
  }

  form.quantity-form {
      // opacity:0;
      padding:1rem 0 1rem 0;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      top:21.5rem;

      input.number-input{
        width:4rem;
        text-align:center;
      }
    }

    form.quantity-form:hover {
      opacity:1;
    }


  .menu-item-details{
    margin-top:2rem;

    p.menu-item-name{
      font-family: 'Space Mono', monospace;
      font-weight:700;
    }
    p.menu-item-desc{
      font-weight:300;
      opacity:0.4;
    }
    p.menu-item-price{
      float:right;
      font-size:1.7rem;
      font-weight:500;
      color:#ea584d;
    }
  }
}

footer {
  background-color:#faf9f9;
  padding:1.8rem;

  p{
    text-transform:uppercase;
    font-weight:500;
    opacity:0.4;
    font-size:80%;
    font-family: 'Space Mono', monospace;
  }
  h4{
    margin-top:-0.7rem;
  }

  button {
    display:inline-block;
    border-radius:0;
    padding:1.4rem 2rem 1.4rem 2rem;
    text-transform:uppercase;
    border:none;
    background-color:#ea584d;
    color:white;
    font-weight:500;
    font-size:85%;
    float:right;
    letter-spacing:0.15rem;


    &:hover{
      background-color: black;
      color:white;
    }
  }
}





// ------------------ STYLES FOR CHECKOUT STARTS HERE

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

section.checkout-container{
  margin-top:10rem;
}

button.checkout {
  margin-top:12rem;
  margin-bottom:10rem;
  display:inline-block;
  width:100%;
  padding:2rem;
  border-radius:0;
  text-transform:uppercase;
  border:4px solid black;
  background-color:transparent;
  font-weight:500;

  &:hover{
    background-color: black;
    border:4px solid black;
    color:white;
  }
}

.table.no-border tr td, .table.no-border tr th {
  border-width: 0;
}

.table>tbody>tr>td {
    vertical-align: middle;
    display: table-cell; /* Courtesy: @Tracker1, for consistency across browsers */
}

.table {
  p.checkout-item-name{
    font-family: 'Space Mono', monospace;
  }

  p.total-price{
    font-size:1.7rem;
    font-weight:500;
    color:#ea584d;
  }

  a{
    text-decoration:none;
    color:black;
  }

  a:hover{
    text-decoration:none;
    color:#ea584d;

  }
}

form.checkout-item-quantity-form {
  input#number-input{
    width:4rem;
    text-align:center;
  }
  button{
    border:none;

    &:hover {
      background-color:transparent;
      color:#ea584d;
    }
  }
}
