html {
  font-size:12px;
}

body {
  background-color: #fff ;
  font-family: 'Roboto', sans-serif;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

header {
  h1.main-heading {
    font-size:8rem;
  }
}

section.menu-container{
  margin-top:5rem;
}

section.menu-category-container{
  h4{
    text-transform:uppercase;
    margin-bottom:2rem;
  }
}

article.menu-item {
  padding:0.1rem;


  img {
    width:100%;
  }

  form.quantity-form {
      padding:1rem 0 1rem 0;

      input#number-input{
        width:4rem;
        text-align:center;
      }

      button{
      }
    }

  .menu-item-details{
    p.menu-item-name{
      font-family: 'Space Mono', monospace;
      font-weight:700;
    }
    p.menu-item-desc{
      font-weight:300;
      opacity:0.4;
    }
    p.menu-item-price{
      float:right;
      font-size:1.7rem;
      font-weight:500;
      color:#ea584d;
    }
  }
}
